.y-weather .weather-icon-0 {
    background:url(//s3.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/0_2491676.png)
   }
   .y-weather .weather-icon-1 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/1_51a147f.png)
   }
   .y-weather .weather-icon-2 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/2_edf7194.png)
   }
   .y-weather .weather-icon-3 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/3_0457b68.png)
   }
   .y-weather .weather-icon-4 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/4_7642bb6.png)
   }
   .y-weather .weather-icon-5 {
    background:url(//s3.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/5_1531508.png)
   }
   .y-weather .weather-icon-6 {
    background:url(//s3.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/6_db5a188.png)
   }
   .y-weather .weather-icon-7 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/7_88acb18.png)
   }
   .y-weather .weather-icon-8 {
    background:url(//s3b.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/8_9815104.png)
   }
   .y-weather .weather-icon-9 {
    background:url(//s3.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/9_2f510a8.png)
   }
   .y-weather .weather-icon-10 {
    background:url(//s3.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/10_2537929.png)
   }
   .y-weather .weather-icon-13 {
    background:url(//s3.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/13_b05865c.png)
   }
   .y-weather .weather-icon-14 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/14_9b3eb63.png)
   }
   .y-weather .weather-icon-15 {
    background:url(//s3.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/15_5a76b28.png)
   }
   .y-weather .weather-icon-16 {
    background:url(//s3b.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/16_6a326fa.png)
   }
   .y-weather .weather-icon-17 {
    background:url(//s3b.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/17_32ec6f5.png)
   }
   .y-weather .weather-icon-18 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/18_a639aa7.png)
   }
   .y-weather .weather-icon-19 {
    background:url(//s3.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/19_939a531.png)
   }
   .y-weather .weather-icon-20 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/20-36_55ac7de.png)
   }
   .y-weather .weather-icon-29 {
    background:url(/static/image/weather/29-36.png)
   }
   .y-weather .weather-icon-30 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/30_10c227c.png)
   }
   .y-weather .weather-icon-31 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/31_4b92e75.png)
   }
   .y-weather .weather-icon-32 {
    background:url(//s3.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/32_6a54cc8.png)
   }
   .y-weather .weather-icon-33 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/33_d20b8b5.png)
   }
   .y-weather .weather-icon-34 {
    background:url(//s3b.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/34_e4493a6.png)
   }
   .y-weather .weather-icon-35 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/29-35_0505311.png)
   }
   .y-weather .weather-icon-36 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/20-36_55ac7de.png)
   }
   .y-weather .weather-icon-44 {
    background:url(//s3.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/44_0af4b08.png)
   }
   .y-weather .weather-icon-45 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/45-46_26db39c.png)
   }
   .y-weather .weather-icon-46 {
    background:url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/weather/45-46_26db39c.png)
   }